.container {
  margin-top: 100px;
  padding-left: 200px;
}

.upperPart {
  background-color: rgb(82, 19, 19);
  padding-top: 50px;
  padding-left: 30px;
  border-radius: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.lowerPart {
  background-color: rgb(82, 19, 19);
  margin-top: 30px;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
