<div>
  <mat-card class="example-card">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Kullanıcı Adı</mat-label>
        <input type="text" [(ngModel)]="username" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Başlık</mat-label>
        <input type="text" [(ngModel)]="title" matInput />
      </mat-form-field>
      <angular-editor
        [config]="editorConfig"
        [(ngModel)]="content"
      ></angular-editor>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="post()" mat-raised-button color="primary">Kaydet</button>
    </mat-card-actions>
  </mat-card>
</div>
