<div class="container">
  <mat-card class="example-card">
    <mat-card-content>
      <h1>{{ article.title }}</h1>
      <p>{{ article.content }}</p>
      <div style="margin-bottom: 50px">
        <span style="font-weight: 700; font-size: 18px">Yazar</span>
        {{ article.author }}
      </div>
      <div class="comments">
        <div *ngFor="let comment of article.comments">
          <div>
            <span>{{ comment.username }} : </span
            ><span>{{ comment.comment }}</span>
          </div>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Kullanıcı Adı</mat-label>
        <input type="text" [(ngModel)]="username" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Yorum</mat-label>
        <input type="text" [(ngModel)]="comment" matInput />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="addComment()" mat-raised-button color="primary">
        Yorum Yap
      </button>
    </mat-card-actions>
  </mat-card>
</div>
